In [1]:
#import the libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
#read the dataset
docs=["the house had a tiny little mouse",
       "the cat saw the mouse",
       "the mouse ran away from the house",
       "the cat finally ate the mouse",
       "the end of the mouse story"]

In [3]:
#Initialize the countvectorizer
cv=CountVectorizer()

#fit & transform
Count_vector=cv.fit_transform(docs)

#check the vocabs
cv.vocabulary_

{'ate': 0,
 'away': 1,
 'cat': 2,
 'end': 3,
 'finally': 4,
 'from': 5,
 'had': 6,
 'house': 7,
 'little': 8,
 'mouse': 9,
 'of': 10,
 'ran': 11,
 'saw': 12,
 'story': 13,
 'the': 14,
 'tiny': 15}

In [4]:
#check the shape
Count_vector.shape

(5, 16)

In [6]:
#Compute the IDF values
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(Count_vector)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [7]:
        #Prin the idf values
df_idf=pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names(),columns=["idf_weights"])

In [8]:
#sort and print
df_idf.sort_values(by=["idf_weights"])

         idf_weights
mouse       1.000000
the         1.000000
cat         1.693147
house       1.693147
ate         2.098612
away        2.098612
end         2.098612
finally     2.098612
from        2.098612
had         2.098612
little      2.098612
of          2.098612
ran         2.098612
saw         2.098612
story       2.098612
tiny        2.098612

In [ ]:
#As observed#
#compute the Idf = # of docs in the db/# of docus containg the term 
#'mouse' and 'the' have the lowest idf values

In [10]:
#Compute the TF-IDF scores for the document
#Compute the countvectorizer()
cv=CountVectorizer()
count_vector=cv.fit_transform(docs)
#compute the tfidf vocab
tf_idf_vector=tfidf_transformer.transform(count_vector)

In [12]:
#compute the tfidf of the first document
feature_names=cv.get_feature_names()
#print the feature names
feature_names

['ate',
 'away',
 'cat',
 'end',
 'finally',
 'from',
 'had',
 'house',
 'little',
 'mouse',
 'of',
 'ran',
 'saw',
 'story',
 'the',
 'tiny']

In [20]:
#print the tf-idf score fr forst docu
first_tfidf_score=tf_idf_vector[0]
#print 
first_tfidf_score.T.todense()
#The TFIDF score for each of the vocabs

matrix([[0.        ],
        [0.        ],
        [0.        ],
        [0.        ],
        [0.        ],
        [0.        ],
        [0.49356209],
        [0.39820278],
        [0.49356209],
        [0.23518498],
        [0.        ],
        [0.        ],
        [0.        ],
        [0.        ],
        [0.23518498],
        [0.49356209]])

In [24]:
#print the score
df=pd.DataFrame(first_tfidf_score.T.todense(),index=feature_names,columns=["tf-idf"])
#print the df
df.sort_values(by=["tf-idf"],ascending=False)
#The unique a word is to the document,higher the score is

           tf-idf
had      0.493562
little   0.493562
tiny     0.493562
house    0.398203
mouse    0.235185
the      0.235185
ate      0.000000
away     0.000000
cat      0.000000
end      0.000000
finally  0.000000
from     0.000000
of       0.000000
ran      0.000000
saw      0.000000
story    0.000000

In [25]:
#TFidf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
#use the tfodf settings
tfidf=TfidfVectorizer(use_idf=True)
#trasnform the docs
tfidf_vector=tfidf.fit_transform(docs)

In [30]:
#comupute the tf idf scores ( first doc)
first=tfidf_vector[0]

#place the tfidf values in dataframe
df=pd.DataFrame(first.T.todense(),index=tfidf.get_feature_names(),columns=["tf-idf"])

#print the details
df.sort_values(by=["tf-idf"],ascending=False)

           tf-idf
had      0.493562
little   0.493562
tiny     0.493562
house    0.398203
mouse    0.235185
the      0.235185
ate      0.000000
away     0.000000
cat      0.000000
end      0.000000
finally  0.000000
from     0.000000
of       0.000000
ran      0.000000
saw      0.000000
story    0.000000